//- indexContent.pug
section.main.standard.transition.all.ms600.ease
	h1 A-Builder
	h2 Pure CSS Menu and Lazy-Loading Images...
	div.img-container(style="width: 300px; height: 200px; background-image: url('img/bg-cookie-blur.jpg');")
		img(data-src="img/bg-cookie.jpg")
		noscript
			img(src="img/bg-cookie.jpg")
