
doctype 
html(lang='en')
	head
		title A-Builder
		meta(name='description', content='A www Frontend Builder')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style(id='normalize.css')
			include css/_normalize.css
		style(id='animate.css')
			include css/_animate.css
		style(id='bootstrap.css')
			include css/_bootstrap.css
		style(id='browser-sync.css')
			include css/browser-sync.css
		style(id='index.css')
			include css/index.css 
	body
		include src/index/indexNav.pug
		include src/index/indexHeader.pug
		include src/index/indexContent.pug
		include src/index/indexFooter.pug
		script
			include js/actionUrl.js	
	